.know-more-heading{
font-size: 30px;
font-family: sans-serif;
font-weight: bold;
color: black;
margin-top: 50px;
text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
}
.img-cont{
    margin-top: 5px;
}
.aboutme-info{
font-size: 25px;
font-family: sans-serif;
text-align: justify;
}
.info-cont{
    width: 500px;
    margin-top: 20px;
}