

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}
.profilePhoto{
    height: 280px;
    width: 280px;
    border-radius: 50%; 
}
.info-div{
margin-top: 30px;
}
.heading-1{
    font-size: 40px;
    font-family: sans-serif;
}
.heading-2{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.logo-cont{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.github-logo{
height: 50px;
}
.github-logo:hover{
    cursor: pointer;
}
.peerlist-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.peerlist-logo:hover{
    cursor: pointer;
}